IO_LOC "clk_in" H11;
IO_PORT "clk_in" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "reset_button_n" T10;
IO_PORT "reset_button_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "uart_rx" T13;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "uart_tx" M11;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33;
IO_LOC "leds[3]" D10;
IO_PORT "leds[3]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "leds[2]" E10;
IO_PORT "leds[2]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "leds[1]" R7;
IO_PORT "leds[1]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "leds[0]" P7;
IO_PORT "leds[0]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "ws2812b_din" D11;
IO_PORT "ws2812b_din" IO_TYPE=LVCMOS33;
IO_LOC "ps_ce_n" N14;
//IO_PORT "ps_ce_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "ps_sclk" N15;
//IO_PORT "ps_sclk" IO_TYPE=LVCMOS33;
IO_LOC "ps_sio[3]" P16;
//IO_PORT "ps_sio[3]" IO_TYPE=LVCMOS33;
IO_LOC "ps_sio[2]" L14;
//IO_PORT "ps_sio[2]" IO_TYPE=LVCMOS33;
IO_LOC "ps_sio[1]" L16;
//IO_PORT "ps_sio[1]" IO_TYPE=LVCMOS33;
IO_LOC "ps_sio[0]" N16;
//IO_PORT "ps_sio[0]" IO_TYPE=LVCMOS33;


IO_PORT "ps_ce_n"  IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=4 BANK_VCCIO=3.3;
IO_PORT "ps_sclk"  IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=4 BANK_VCCIO=3.3;
IO_PORT "ps_sio[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=4 BANK_VCCIO=3.3;
IO_PORT "ps_sio[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=4 BANK_VCCIO=3.3;
IO_PORT "ps_sio[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=4 BANK_VCCIO=3.3;
IO_PORT "ps_sio[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=4 BANK_VCCIO=3.3;

IO_LOC "HDMI_TXC_P" G16,H15;
IO_PORT "HDMI_TXC_P" PULL_MODE=NONE DRIVE=3.5;
IO_LOC "HDMI_TX_P[0]" H16,H14;
IO_PORT "HDMI_TX_P[0]" PULL_MODE=NONE DRIVE=3.5;
IO_LOC "HDMI_TX_P[1]" K16,J15;
IO_PORT "HDMI_TX_P[1]" PULL_MODE=NONE DRIVE=3.5;
IO_LOC "HDMI_TX_P[2]" K15,K14;
IO_PORT "HDMI_TX_P[2]" PULL_MODE=NONE DRIVE=3.5;

# SPI
IO_LOC "CS_FPGA" K11;
IO_PORT "CS_FPGA" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "SCK" K12;
IO_PORT "SCK" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "MISO" K13;
IO_PORT "MISO" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "MOSI" H13;
IO_PORT "MOSI" IO_TYPE=LVCMOS33 PULL_MODE=UP;
